# 定义stage
stages:
  - deploy
  - tstbuild
  - tstdeploy

abs-go:
  stage: deploy
  only:
    - develop
  script:
    - cd /data/wwwroot/abs_go
    - su www
    - git pull
    # - ./alived.sh restart -d
  tags:
    - abs-go

# 测试环境自动化部署
tst_build:
  stage: tstbuild
  only:
    - /.*\.t.*$/
  script:
    - src_path=`pwd`
    - cicd_package $src_path
    # - ./alived.sh restart -d
  tags:
    - TEST_BUILD_DEPLOY

tst_deploy:
  stage: tstdeploy
  only:
    - /.*\.t.*$/
  script:
    - cicd_deploy $CI_PROJECT_NAME $CI_COMMIT_TAG
    # - ./alived.sh restart -d
  tags:
    - TEST_BUILD_DEPLOY
    
#同步现网代码到开发公共环境
include:
  - local: '.ci_temp/dev_comm.yml'

